body {
    background-color: rgb(85, 84, 84);
    margin: 0;
    padding: 0;
}

.button{
    display: flex;
    width: 100%vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn-modern {
    width: 100px;
    height: 50px;
    font-size: 14pt;
    background-color: cornflowerblue;
    transition: transform 0.4s
}

.btn-modern:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    transform: translateY(-5px);
    color: white;
    background-color: darkviolet;
}